.root {
  @apply border-b border-accent-2 py-4 flex flex-col outline-none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .label {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: white;
}

.content {
  overflow: hidden;
  padding-top: 0.75rem;
  padding-left: 2rem;
}

.icon {
  margin-right: 0.75rem;
  color: var(--accent-6);
  margin-left: -6px;
  transition: transform 0.2s ease;
}

.icon.open {
  transform: rotate(90deg);
}
