@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-Vj5Cl15-bevcnD: var(--token-iR8SeEwQZ);
  --plasmic-token-primary: var(--token-Vj5Cl15-bevcnD);
  --token-Znm987QCV97o7i: var(--token-wRTnrRwLX);
  --plasmic-token-secondary: var(--token-Znm987QCV97o7i);
}

.plasmic_default_styles {
  --mixin-4lPsxkjvo04hOJ_font-family: "Inter";
  --mixin-4lPsxkjvo04hOJ_font-size: 16px;
  --mixin-4lPsxkjvo04hOJ_font-weight: 400;
  --mixin-4lPsxkjvo04hOJ_font-style: normal;
  --mixin-4lPsxkjvo04hOJ_color: #535353;
  --mixin-4lPsxkjvo04hOJ_text-align: left;
  --mixin-4lPsxkjvo04hOJ_text-transform: none;
  --mixin-4lPsxkjvo04hOJ_line-height: 1.5;
  --mixin-4lPsxkjvo04hOJ_letter-spacing: normal;
  --mixin-4lPsxkjvo04hOJ_white-space: pre-wrap;
  --mixin-4lPsxkjvo04hOJ_user-select: text;
  --mixin-4lPsxkjvo04hOJ_text-decoration-line: none;
  --mixin-4lPsxkjvo04hOJ_text-overflow: clip;
  --mixin-WXF4cgS8ouPU_L_color: #000000;
  --mixin-WXF4cgS8ouPU_L_font-weight: 900;
  --mixin-WXF4cgS8ouPU_L_font-size: 72px;
  --mixin-WXF4cgS8ouPU_L_line-height: 1;
  --mixin-WXF4cgS8ouPU_L_letter-spacing: -4px;
  --mixin-mVFhXtjf3A9TM__font-family: "Inter";
  --mixin-mVFhXtjf3A9TM__color: #000000;
  --mixin-mVFhXtjf3A9TM__font-size: 48px;
  --mixin-mVFhXtjf3A9TM__font-weight: 700;
  --mixin-mVFhXtjf3A9TM__letter-spacing: -1px;
  --mixin-mVFhXtjf3A9TM__line-height: 1.1;
  --mixin-OTLOYse539OcgF_color: #0070f3;
  --mixin-tpLkb8TFIpCWt-_font-family: "Inter";
  --mixin-tpLkb8TFIpCWt-_color: #000000;
  --mixin-tpLkb8TFIpCWt-_font-size: 32px;
  --mixin-tpLkb8TFIpCWt-_font-weight: 600;
  --mixin-tpLkb8TFIpCWt-_letter-spacing: -0.8px;
  --mixin-tpLkb8TFIpCWt-_line-height: 1.2;
  --mixin-1FjZ9vJlVNmoEN_font-family: "Inter";
  --mixin-1FjZ9vJlVNmoEN_color: #000000;
  --mixin-1FjZ9vJlVNmoEN_font-size: 24px;
  --mixin-1FjZ9vJlVNmoEN_font-weight: 600;
  --mixin-1FjZ9vJlVNmoEN_letter-spacing: -0.5px;
  --mixin-1FjZ9vJlVNmoEN_line-height: 1.3;
  --mixin-L23Sz3qyOwCuYq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-L23Sz3qyOwCuYq_border-bottom-color: #dddddd;
  --mixin-L23Sz3qyOwCuYq_border-bottom-style: solid;
  --mixin-L23Sz3qyOwCuYq_border-bottom-width: 1px;
  --mixin-L23Sz3qyOwCuYq_border-left-color: #dddddd;
  --mixin-L23Sz3qyOwCuYq_border-left-style: solid;
  --mixin-L23Sz3qyOwCuYq_border-left-width: 1px;
  --mixin-L23Sz3qyOwCuYq_border-right-color: #dddddd;
  --mixin-L23Sz3qyOwCuYq_border-right-style: solid;
  --mixin-L23Sz3qyOwCuYq_border-right-width: 1px;
  --mixin-L23Sz3qyOwCuYq_border-top-color: #dddddd;
  --mixin-L23Sz3qyOwCuYq_border-top-style: solid;
  --mixin-L23Sz3qyOwCuYq_border-top-width: 1px;
  --mixin-L23Sz3qyOwCuYq_border-bottom-left-radius: 3px;
  --mixin-L23Sz3qyOwCuYq_border-bottom-right-radius: 3px;
  --mixin-L23Sz3qyOwCuYq_border-top-left-radius: 3px;
  --mixin-L23Sz3qyOwCuYq_border-top-right-radius: 3px;
  --mixin-L23Sz3qyOwCuYq_font-family: "Inconsolata";
  --mixin-L23Sz3qyOwCuYq_padding-bottom: 1px;
  --mixin-L23Sz3qyOwCuYq_padding-left: 4px;
  --mixin-L23Sz3qyOwCuYq_padding-right: 4px;
  --mixin-L23Sz3qyOwCuYq_padding-top: 1px;
  --mixin-AS0JXstrF2y8rf_border-left-color: #dddddd;
  --mixin-AS0JXstrF2y8rf_border-left-style: solid;
  --mixin-AS0JXstrF2y8rf_border-left-width: 3px;
  --mixin-AS0JXstrF2y8rf_color: #888888;
  --mixin-AS0JXstrF2y8rf_padding-left: 10px;
  --mixin-Uxkxvqpx--MMdZ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Uxkxvqpx--MMdZ_border-bottom-color: #dddddd;
  --mixin-Uxkxvqpx--MMdZ_border-bottom-style: solid;
  --mixin-Uxkxvqpx--MMdZ_border-bottom-width: 1px;
  --mixin-Uxkxvqpx--MMdZ_border-left-color: #dddddd;
  --mixin-Uxkxvqpx--MMdZ_border-left-style: solid;
  --mixin-Uxkxvqpx--MMdZ_border-left-width: 1px;
  --mixin-Uxkxvqpx--MMdZ_border-right-color: #dddddd;
  --mixin-Uxkxvqpx--MMdZ_border-right-style: solid;
  --mixin-Uxkxvqpx--MMdZ_border-right-width: 1px;
  --mixin-Uxkxvqpx--MMdZ_border-top-color: #dddddd;
  --mixin-Uxkxvqpx--MMdZ_border-top-style: solid;
  --mixin-Uxkxvqpx--MMdZ_border-top-width: 1px;
  --mixin-Uxkxvqpx--MMdZ_border-bottom-left-radius: 3px;
  --mixin-Uxkxvqpx--MMdZ_border-bottom-right-radius: 3px;
  --mixin-Uxkxvqpx--MMdZ_border-top-left-radius: 3px;
  --mixin-Uxkxvqpx--MMdZ_border-top-right-radius: 3px;
  --mixin-Uxkxvqpx--MMdZ_font-family: "Inconsolata";
  --mixin-Uxkxvqpx--MMdZ_padding-bottom: 3px;
  --mixin-Uxkxvqpx--MMdZ_padding-left: 6px;
  --mixin-Uxkxvqpx--MMdZ_padding-right: 6px;
  --mixin-Uxkxvqpx--MMdZ_padding-top: 3px;
  --mixin-1zHE8ksnjQxtMJ_display: flex;
  --mixin-1zHE8ksnjQxtMJ_flex-direction: column;
  --mixin-1zHE8ksnjQxtMJ_align-items: stretch;
  --mixin-1zHE8ksnjQxtMJ_justify-content: flex-start;
  --mixin-1zHE8ksnjQxtMJ_list-style-position: outside;
  --mixin-1zHE8ksnjQxtMJ_padding-left: 40px;
  --mixin-1zHE8ksnjQxtMJ_position: relative;
  --mixin-1zHE8ksnjQxtMJ_list-style-type: disc;
  --mixin-vL_FgjkT7IIaMv_display: flex;
  --mixin-vL_FgjkT7IIaMv_flex-direction: column;
  --mixin-vL_FgjkT7IIaMv_align-items: stretch;
  --mixin-vL_FgjkT7IIaMv_justify-content: flex-start;
  --mixin-vL_FgjkT7IIaMv_list-style-position: outside;
  --mixin-vL_FgjkT7IIaMv_padding-left: 40px;
  --mixin-vL_FgjkT7IIaMv_position: relative;
  --mixin-vL_FgjkT7IIaMv_list-style-type: decimal;
  --mixin-jXzrfhFNBauoKr_font-family: "Inter";
  --mixin-jXzrfhFNBauoKr_color: #000000;
  --mixin-jXzrfhFNBauoKr_font-size: 20px;
  --mixin-jXzrfhFNBauoKr_font-weight: 600;
  --mixin-jXzrfhFNBauoKr_letter-spacing: -0.3px;
  --mixin-jXzrfhFNBauoKr_line-height: 1.5;
  --mixin-CkkUsAy5wJ5Pgv_font-family: "Inter";
  --mixin-CkkUsAy5wJ5Pgv_color: #000000;
  --mixin-CkkUsAy5wJ5Pgv_font-size: 16px;
  --mixin-CkkUsAy5wJ5Pgv_font-weight: 600;
  --mixin-CkkUsAy5wJ5Pgv_line-height: 1.5;
  --mixin-KzLKIrQS63UuRK_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-4lPsxkjvo04hOJ_font-family);
  font-size: var(--mixin-4lPsxkjvo04hOJ_font-size);
  font-weight: var(--mixin-4lPsxkjvo04hOJ_font-weight);
  font-style: var(--mixin-4lPsxkjvo04hOJ_font-style);
  color: var(--mixin-4lPsxkjvo04hOJ_color);
  text-align: var(--mixin-4lPsxkjvo04hOJ_text-align);
  text-transform: var(--mixin-4lPsxkjvo04hOJ_text-transform);
  line-height: var(--mixin-4lPsxkjvo04hOJ_line-height);
  letter-spacing: var(--mixin-4lPsxkjvo04hOJ_letter-spacing);
  white-space: var(--mixin-4lPsxkjvo04hOJ_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-WXF4cgS8ouPU_L_color);
  font-weight: var(--mixin-WXF4cgS8ouPU_L_font-weight);
  font-size: var(--mixin-WXF4cgS8ouPU_L_font-size);
  line-height: var(--mixin-WXF4cgS8ouPU_L_line-height);
  letter-spacing: var(--mixin-WXF4cgS8ouPU_L_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-mVFhXtjf3A9TM__font-family);
  color: var(--mixin-mVFhXtjf3A9TM__color);
  font-size: var(--mixin-mVFhXtjf3A9TM__font-size);
  font-weight: var(--mixin-mVFhXtjf3A9TM__font-weight);
  letter-spacing: var(--mixin-mVFhXtjf3A9TM__letter-spacing);
  line-height: var(--mixin-mVFhXtjf3A9TM__line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-OTLOYse539OcgF_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-tpLkb8TFIpCWt-_font-family);
  color: var(--mixin-tpLkb8TFIpCWt-_color);
  font-size: var(--mixin-tpLkb8TFIpCWt-_font-size);
  font-weight: var(--mixin-tpLkb8TFIpCWt-_font-weight);
  letter-spacing: var(--mixin-tpLkb8TFIpCWt-_letter-spacing);
  line-height: var(--mixin-tpLkb8TFIpCWt-_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-1FjZ9vJlVNmoEN_font-family);
  color: var(--mixin-1FjZ9vJlVNmoEN_color);
  font-size: var(--mixin-1FjZ9vJlVNmoEN_font-size);
  font-weight: var(--mixin-1FjZ9vJlVNmoEN_font-weight);
  letter-spacing: var(--mixin-1FjZ9vJlVNmoEN_letter-spacing);
  line-height: var(--mixin-1FjZ9vJlVNmoEN_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-L23Sz3qyOwCuYq_background);
  font-family: var(--mixin-L23Sz3qyOwCuYq_font-family);
  border-radius: var(--mixin-L23Sz3qyOwCuYq_border-top-left-radius)
    var(--mixin-L23Sz3qyOwCuYq_border-top-right-radius)
    var(--mixin-L23Sz3qyOwCuYq_border-bottom-right-radius)
    var(--mixin-L23Sz3qyOwCuYq_border-bottom-left-radius);
  padding: var(--mixin-L23Sz3qyOwCuYq_padding-top)
    var(--mixin-L23Sz3qyOwCuYq_padding-right)
    var(--mixin-L23Sz3qyOwCuYq_padding-bottom)
    var(--mixin-L23Sz3qyOwCuYq_padding-left);
  border-top: var(--mixin-L23Sz3qyOwCuYq_border-top-width)
    var(--mixin-L23Sz3qyOwCuYq_border-top-style)
    var(--mixin-L23Sz3qyOwCuYq_border-top-color);
  border-right: var(--mixin-L23Sz3qyOwCuYq_border-right-width)
    var(--mixin-L23Sz3qyOwCuYq_border-right-style)
    var(--mixin-L23Sz3qyOwCuYq_border-right-color);
  border-bottom: var(--mixin-L23Sz3qyOwCuYq_border-bottom-width)
    var(--mixin-L23Sz3qyOwCuYq_border-bottom-style)
    var(--mixin-L23Sz3qyOwCuYq_border-bottom-color);
  border-left: var(--mixin-L23Sz3qyOwCuYq_border-left-width)
    var(--mixin-L23Sz3qyOwCuYq_border-left-style)
    var(--mixin-L23Sz3qyOwCuYq_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-AS0JXstrF2y8rf_color);
  padding-left: var(--mixin-AS0JXstrF2y8rf_padding-left);
  border-left: var(--mixin-AS0JXstrF2y8rf_border-left-width)
    var(--mixin-AS0JXstrF2y8rf_border-left-style)
    var(--mixin-AS0JXstrF2y8rf_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-Uxkxvqpx--MMdZ_background);
  font-family: var(--mixin-Uxkxvqpx--MMdZ_font-family);
  border-radius: var(--mixin-Uxkxvqpx--MMdZ_border-top-left-radius)
    var(--mixin-Uxkxvqpx--MMdZ_border-top-right-radius)
    var(--mixin-Uxkxvqpx--MMdZ_border-bottom-right-radius)
    var(--mixin-Uxkxvqpx--MMdZ_border-bottom-left-radius);
  padding: var(--mixin-Uxkxvqpx--MMdZ_padding-top)
    var(--mixin-Uxkxvqpx--MMdZ_padding-right)
    var(--mixin-Uxkxvqpx--MMdZ_padding-bottom)
    var(--mixin-Uxkxvqpx--MMdZ_padding-left);
  border-top: var(--mixin-Uxkxvqpx--MMdZ_border-top-width)
    var(--mixin-Uxkxvqpx--MMdZ_border-top-style)
    var(--mixin-Uxkxvqpx--MMdZ_border-top-color);
  border-right: var(--mixin-Uxkxvqpx--MMdZ_border-right-width)
    var(--mixin-Uxkxvqpx--MMdZ_border-right-style)
    var(--mixin-Uxkxvqpx--MMdZ_border-right-color);
  border-bottom: var(--mixin-Uxkxvqpx--MMdZ_border-bottom-width)
    var(--mixin-Uxkxvqpx--MMdZ_border-bottom-style)
    var(--mixin-Uxkxvqpx--MMdZ_border-bottom-color);
  border-left: var(--mixin-Uxkxvqpx--MMdZ_border-left-width)
    var(--mixin-Uxkxvqpx--MMdZ_border-left-style)
    var(--mixin-Uxkxvqpx--MMdZ_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-1zHE8ksnjQxtMJ_display);
  flex-direction: var(--mixin-1zHE8ksnjQxtMJ_flex-direction);
  align-items: var(--mixin-1zHE8ksnjQxtMJ_align-items);
  justify-content: var(--mixin-1zHE8ksnjQxtMJ_justify-content);
  list-style-position: var(--mixin-1zHE8ksnjQxtMJ_list-style-position);
  padding-left: var(--mixin-1zHE8ksnjQxtMJ_padding-left);
  position: var(--mixin-1zHE8ksnjQxtMJ_position);
  list-style-type: var(--mixin-1zHE8ksnjQxtMJ_list-style-type);
  flex-column-gap: var(--mixin-1zHE8ksnjQxtMJ_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-vL_FgjkT7IIaMv_display);
  flex-direction: var(--mixin-vL_FgjkT7IIaMv_flex-direction);
  align-items: var(--mixin-vL_FgjkT7IIaMv_align-items);
  justify-content: var(--mixin-vL_FgjkT7IIaMv_justify-content);
  list-style-position: var(--mixin-vL_FgjkT7IIaMv_list-style-position);
  padding-left: var(--mixin-vL_FgjkT7IIaMv_padding-left);
  position: var(--mixin-vL_FgjkT7IIaMv_position);
  list-style-type: var(--mixin-vL_FgjkT7IIaMv_list-style-type);
  flex-column-gap: var(--mixin-vL_FgjkT7IIaMv_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-jXzrfhFNBauoKr_font-family);
  color: var(--mixin-jXzrfhFNBauoKr_color);
  font-size: var(--mixin-jXzrfhFNBauoKr_font-size);
  font-weight: var(--mixin-jXzrfhFNBauoKr_font-weight);
  letter-spacing: var(--mixin-jXzrfhFNBauoKr_letter-spacing);
  line-height: var(--mixin-jXzrfhFNBauoKr_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-CkkUsAy5wJ5Pgv_font-family);
  color: var(--mixin-CkkUsAy5wJ5Pgv_color);
  font-size: var(--mixin-CkkUsAy5wJ5Pgv_font-size);
  font-weight: var(--mixin-CkkUsAy5wJ5Pgv_font-weight);
  line-height: var(--mixin-CkkUsAy5wJ5Pgv_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-KzLKIrQS63UuRK_color);
}
