.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-wRTnrRwLX);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 2;
}
.productGrid___8Z1E:global(.__wab_instance) {
  max-width: 100%;
  height: 1000px;
  width: 100%;
  margin-top: calc(10px + 0px) !important;
  min-width: 0;
  flex-shrink: 0;
}
.productBox__muRR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.productCard__fQ:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.productTextField__tQ0Ld:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
.productBox__fcgXa:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
}
.productCard__db7R5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.productTextField__oN0BB:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
.productBox___4FiRd:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
}
.productCard__jsqUc:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.productTextField__yEoPc:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
.marquee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.reactFastMarquee__olm2V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  background: var(--token-iR8SeEwQZ);
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
}
.freeBox___5OAuD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__bCg60:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__ivLWv:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__qBbLb:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
.freeBox___1XLtg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__flSbm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__qpBc8:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__tla78:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
.freeBox__irVj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__kbjpQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard___51N1H:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__pjKDb:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
.freeBox__e91Ou {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-iR8SeEwQZ);
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  min-width: 0;
  padding: 128px 32px;
  border-style: solid;
  border-color: var(--token-wRTnrRwLX);
}
.hero__ptGpB:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.productGrid__pzard:global(.__wab_instance) {
  max-width: 100%;
  height: 1000px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.productBox___2Jc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.productCard__sFu8S:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.productTextField___1ClLo:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
.productBox__xuQA:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
}
.productCard___80GQr:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.productTextField__umpQ5:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
.productBox__fkLVi:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
}
.productCard__vNTjk:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.productTextField__rlHn:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
.marquee2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.reactFastMarquee__skiHg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  background: linear-gradient(var(--token-wRTnrRwLX), var(--token-wRTnrRwLX)),
    var(--token-iR8SeEwQZ);
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
}
.freeBox__by5ZT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__orUkj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__dtTLd:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__pgIoH:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
.freeBox___1XLtg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox___1OmSy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__tSwR8:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__nx2ER:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
.freeBox__irVj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__uj1Yw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__iiQxo:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__uwe:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
