.root {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.productLink:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__vXl1L {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox___5VqkM {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-nnaRFhY3Pqv);
  cursor: pointer;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
.freeBoxcolor_violet___5VqkM0Pz3W {
  background: var(--token-CkHQi57I5kr);
}
.freeBoxcolor_white___5VqkMd3TlB {
  background: var(--token-iR8SeEwQZ);
}
.freeBoxcolor_black___5VqkMUtNNd {
  background: var(--token-wRTnrRwLX);
}
.freeBoxshape_slim___5VqkMLbo9M {
  display: none;
}
.freeBox__v4DS {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
.freeBox__v4DS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.freeBox__v4DS > :global(.__wab_flex-container) > *,
.freeBox__v4DS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v4DS > :global(.__wab_flex-container) > picture > img,
.freeBox__v4DS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.freeBox__hYvQx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ig6M0 {
  background: var(--token-wRTnrRwLX);
  display: flex;
  position: relative;
  align-self: center;
  max-width: 90%;
  padding: 2px 10px;
}
.productTextField__pT2P:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 32px;
  max-width: 100%;
  position: relative;
  align-self: auto;
  padding: 2px 10px;
}
.freeBox___6Vksr {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  max-width: 100%;
  left: auto;
  top: 0px;
  right: 0px;
  background: var(--token-wRTnrRwLX);
  flex-shrink: 0;
  padding: 0px;
}
.freeBoxcolor_black___6VksrUtNNd {
  background: var(--token-iR8SeEwQZ);
}
.freeBoxhideWishlist___6VksrIfIsz {
  display: none;
}
.root:hover .freeBox___6Vksr {
  background: none;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  color: var(--token-iR8SeEwQZ);
  flex-shrink: 0;
}
.svgcolor_black {
  color: var(--token-wRTnrRwLX);
}
.rootcolor_white:hover .svgcolor_white {
  color: var(--token-wRTnrRwLX);
}
.rootcolor_black:hover .svgcolor_black {
  color: var(--token-iR8SeEwQZ);
}
.freeBox__caWdz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productPrice:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 16px;
  max-width: 100%;
  position: relative;
  padding: 2px 10px;
}
.productPricehidePrice:global(.__wab_instance) {
  display: none;
}
.freeBox__tIxR {
  display: block;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__kURiR {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 0px;
  left: 0px;
  min-width: 0;
  padding: 0px;
}
.root .freeBox__kURiR:hover {
  transform: scaleX(1.05) scaleY(1.05) scaleZ(1);
}
.rootimageUrl .freeBoximageUrl__kURiR6V69E:hover {
  transform: none;
}
.productMedia__ib1F5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productMediaimageUrl__ib1F56V69E:global(.__wab_instance) {
  display: none;
}
.imageContainer {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
  padding: 0px;
}
.imageContainerimageUrl {
  display: flex;
}
.freeBox__lYkFv {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  display: none;
  padding: 0px;
}
.freeBoxshape_slim__lYkFvLbo9M {
  display: flex;
}
.freeBox__sCWP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBoxshape_slim__sCWPLbo9M {
  display: flex;
}
.productMedia__ktuCl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productMediashape_slim__ktuClLbo9M:global(.__wab_instance) {
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__woLne {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  left: auto;
  top: auto;
  right: auto;
  min-width: 0;
  padding: 0px;
}
.productTextField:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productTextFieldshape_slim:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 2px 10px;
}
.productTextFieldshape_slim_color_black:global(.__wab_instance) {
  color: var(--token-wRTnrRwLX);
  background: var(--token-iR8SeEwQZ);
}
