@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-8tRWQ_X82B5Y_font-family: "Inter";
  --mixin-8tRWQ_X82B5Y_font-size: 16px;
  --mixin-8tRWQ_X82B5Y_font-weight: 400;
  --mixin-8tRWQ_X82B5Y_font-style: normal;
  --mixin-8tRWQ_X82B5Y_color: #535353;
  --mixin-8tRWQ_X82B5Y_text-align: left;
  --mixin-8tRWQ_X82B5Y_text-transform: none;
  --mixin-8tRWQ_X82B5Y_line-height: 1.5;
  --mixin-8tRWQ_X82B5Y_letter-spacing: normal;
  --mixin-8tRWQ_X82B5Y_white-space: pre-wrap;
  --mixin-8tRWQ_X82B5Y_user-select: text;
  --mixin-8tRWQ_X82B5Y_text-decoration-line: none;
  --mixin-8tRWQ_X82B5Y_text-overflow: clip;
  --mixin-SQNkR_ahdhan_color: #000000;
  --mixin-SQNkR_ahdhan_font-weight: 900;
  --mixin-SQNkR_ahdhan_font-size: 72px;
  --mixin-SQNkR_ahdhan_line-height: 1;
  --mixin-SQNkR_ahdhan_letter-spacing: -4px;
  --mixin-2FA983xqaGxr_font-family: "Inter";
  --mixin-2FA983xqaGxr_color: #000000;
  --mixin-2FA983xqaGxr_font-size: 48px;
  --mixin-2FA983xqaGxr_font-weight: 700;
  --mixin-2FA983xqaGxr_letter-spacing: -1px;
  --mixin-2FA983xqaGxr_line-height: 1.1;
  --mixin-ro60OIsiUogX_color: #0070f3;
  --mixin-SNS_jmtPX_q6_font-family: "Inter";
  --mixin-SNS_jmtPX_q6_color: #000000;
  --mixin-SNS_jmtPX_q6_font-size: 32px;
  --mixin-SNS_jmtPX_q6_font-weight: 600;
  --mixin-SNS_jmtPX_q6_letter-spacing: -0.8px;
  --mixin-SNS_jmtPX_q6_line-height: 1.2;
  --mixin-QQ-Zj8s7Anvk_font-family: "Inter";
  --mixin-QQ-Zj8s7Anvk_color: #000000;
  --mixin-QQ-Zj8s7Anvk_font-size: 24px;
  --mixin-QQ-Zj8s7Anvk_font-weight: 600;
  --mixin-QQ-Zj8s7Anvk_letter-spacing: -0.5px;
  --mixin-QQ-Zj8s7Anvk_line-height: 1.3;
  --mixin-4JHV-OLw7FTP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-4JHV-OLw7FTP_border-bottom-color: #dddddd;
  --mixin-4JHV-OLw7FTP_border-bottom-style: solid;
  --mixin-4JHV-OLw7FTP_border-bottom-width: 1px;
  --mixin-4JHV-OLw7FTP_border-left-color: #dddddd;
  --mixin-4JHV-OLw7FTP_border-left-style: solid;
  --mixin-4JHV-OLw7FTP_border-left-width: 1px;
  --mixin-4JHV-OLw7FTP_border-right-color: #dddddd;
  --mixin-4JHV-OLw7FTP_border-right-style: solid;
  --mixin-4JHV-OLw7FTP_border-right-width: 1px;
  --mixin-4JHV-OLw7FTP_border-top-color: #dddddd;
  --mixin-4JHV-OLw7FTP_border-top-style: solid;
  --mixin-4JHV-OLw7FTP_border-top-width: 1px;
  --mixin-4JHV-OLw7FTP_border-bottom-left-radius: 3px;
  --mixin-4JHV-OLw7FTP_border-bottom-right-radius: 3px;
  --mixin-4JHV-OLw7FTP_border-top-left-radius: 3px;
  --mixin-4JHV-OLw7FTP_border-top-right-radius: 3px;
  --mixin-4JHV-OLw7FTP_font-family: "Inconsolata";
  --mixin-4JHV-OLw7FTP_padding-bottom: 1px;
  --mixin-4JHV-OLw7FTP_padding-left: 4px;
  --mixin-4JHV-OLw7FTP_padding-right: 4px;
  --mixin-4JHV-OLw7FTP_padding-top: 1px;
  --mixin-3WzVI4GdVgAk_border-left-color: #dddddd;
  --mixin-3WzVI4GdVgAk_border-left-style: solid;
  --mixin-3WzVI4GdVgAk_border-left-width: 3px;
  --mixin-3WzVI4GdVgAk_color: #888888;
  --mixin-3WzVI4GdVgAk_padding-left: 10px;
  --mixin-A9LEiZT63zsg__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-A9LEiZT63zsg__border-bottom-color: #dddddd;
  --mixin-A9LEiZT63zsg__border-bottom-style: solid;
  --mixin-A9LEiZT63zsg__border-bottom-width: 1px;
  --mixin-A9LEiZT63zsg__border-left-color: #dddddd;
  --mixin-A9LEiZT63zsg__border-left-style: solid;
  --mixin-A9LEiZT63zsg__border-left-width: 1px;
  --mixin-A9LEiZT63zsg__border-right-color: #dddddd;
  --mixin-A9LEiZT63zsg__border-right-style: solid;
  --mixin-A9LEiZT63zsg__border-right-width: 1px;
  --mixin-A9LEiZT63zsg__border-top-color: #dddddd;
  --mixin-A9LEiZT63zsg__border-top-style: solid;
  --mixin-A9LEiZT63zsg__border-top-width: 1px;
  --mixin-A9LEiZT63zsg__border-bottom-left-radius: 3px;
  --mixin-A9LEiZT63zsg__border-bottom-right-radius: 3px;
  --mixin-A9LEiZT63zsg__border-top-left-radius: 3px;
  --mixin-A9LEiZT63zsg__border-top-right-radius: 3px;
  --mixin-A9LEiZT63zsg__font-family: "Inconsolata";
  --mixin-A9LEiZT63zsg__padding-bottom: 3px;
  --mixin-A9LEiZT63zsg__padding-left: 6px;
  --mixin-A9LEiZT63zsg__padding-right: 6px;
  --mixin-A9LEiZT63zsg__padding-top: 3px;
  --mixin-TLy8ZAMuwB5F2_display: flex;
  --mixin-TLy8ZAMuwB5F2_flex-direction: column;
  --mixin-TLy8ZAMuwB5F2_align-items: stretch;
  --mixin-TLy8ZAMuwB5F2_justify-content: flex-start;
  --mixin-TLy8ZAMuwB5F2_list-style-position: outside;
  --mixin-TLy8ZAMuwB5F2_padding-left: 40px;
  --mixin-TLy8ZAMuwB5F2_position: relative;
  --mixin-TLy8ZAMuwB5F2_list-style-type: disc;
  --mixin-LEZT9yDj3-jyn_display: flex;
  --mixin-LEZT9yDj3-jyn_flex-direction: column;
  --mixin-LEZT9yDj3-jyn_align-items: stretch;
  --mixin-LEZT9yDj3-jyn_justify-content: flex-start;
  --mixin-LEZT9yDj3-jyn_list-style-position: outside;
  --mixin-LEZT9yDj3-jyn_padding-left: 40px;
  --mixin-LEZT9yDj3-jyn_position: relative;
  --mixin-LEZT9yDj3-jyn_list-style-type: decimal;
  --mixin-EgC0GWJkOa4hN_font-family: "Inter";
  --mixin-EgC0GWJkOa4hN_color: #000000;
  --mixin-EgC0GWJkOa4hN_font-size: 20px;
  --mixin-EgC0GWJkOa4hN_font-weight: 600;
  --mixin-EgC0GWJkOa4hN_letter-spacing: -0.3px;
  --mixin-EgC0GWJkOa4hN_line-height: 1.5;
  --mixin-TYPQ0rXffzRwS_font-family: "Inter";
  --mixin-TYPQ0rXffzRwS_color: #000000;
  --mixin-TYPQ0rXffzRwS_font-size: 16px;
  --mixin-TYPQ0rXffzRwS_font-weight: 600;
  --mixin-TYPQ0rXffzRwS_line-height: 1.5;
  --mixin-C4dGqGWr5oRhD_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-8tRWQ_X82B5Y_font-family);
  font-size: var(--mixin-8tRWQ_X82B5Y_font-size);
  font-weight: var(--mixin-8tRWQ_X82B5Y_font-weight);
  font-style: var(--mixin-8tRWQ_X82B5Y_font-style);
  color: var(--mixin-8tRWQ_X82B5Y_color);
  text-align: var(--mixin-8tRWQ_X82B5Y_text-align);
  text-transform: var(--mixin-8tRWQ_X82B5Y_text-transform);
  line-height: var(--mixin-8tRWQ_X82B5Y_line-height);
  letter-spacing: var(--mixin-8tRWQ_X82B5Y_letter-spacing);
  white-space: var(--mixin-8tRWQ_X82B5Y_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-SQNkR_ahdhan_color);
  font-weight: var(--mixin-SQNkR_ahdhan_font-weight);
  font-size: var(--mixin-SQNkR_ahdhan_font-size);
  line-height: var(--mixin-SQNkR_ahdhan_line-height);
  letter-spacing: var(--mixin-SQNkR_ahdhan_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-2FA983xqaGxr_font-family);
  color: var(--mixin-2FA983xqaGxr_color);
  font-size: var(--mixin-2FA983xqaGxr_font-size);
  font-weight: var(--mixin-2FA983xqaGxr_font-weight);
  letter-spacing: var(--mixin-2FA983xqaGxr_letter-spacing);
  line-height: var(--mixin-2FA983xqaGxr_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-ro60OIsiUogX_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-SNS_jmtPX_q6_font-family);
  color: var(--mixin-SNS_jmtPX_q6_color);
  font-size: var(--mixin-SNS_jmtPX_q6_font-size);
  font-weight: var(--mixin-SNS_jmtPX_q6_font-weight);
  letter-spacing: var(--mixin-SNS_jmtPX_q6_letter-spacing);
  line-height: var(--mixin-SNS_jmtPX_q6_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-QQ-Zj8s7Anvk_font-family);
  color: var(--mixin-QQ-Zj8s7Anvk_color);
  font-size: var(--mixin-QQ-Zj8s7Anvk_font-size);
  font-weight: var(--mixin-QQ-Zj8s7Anvk_font-weight);
  letter-spacing: var(--mixin-QQ-Zj8s7Anvk_letter-spacing);
  line-height: var(--mixin-QQ-Zj8s7Anvk_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-4JHV-OLw7FTP_background);
  font-family: var(--mixin-4JHV-OLw7FTP_font-family);
  border-radius: var(--mixin-4JHV-OLw7FTP_border-top-left-radius)
    var(--mixin-4JHV-OLw7FTP_border-top-right-radius)
    var(--mixin-4JHV-OLw7FTP_border-bottom-right-radius)
    var(--mixin-4JHV-OLw7FTP_border-bottom-left-radius);
  padding: var(--mixin-4JHV-OLw7FTP_padding-top)
    var(--mixin-4JHV-OLw7FTP_padding-right)
    var(--mixin-4JHV-OLw7FTP_padding-bottom)
    var(--mixin-4JHV-OLw7FTP_padding-left);
  border-top: var(--mixin-4JHV-OLw7FTP_border-top-width)
    var(--mixin-4JHV-OLw7FTP_border-top-style)
    var(--mixin-4JHV-OLw7FTP_border-top-color);
  border-right: var(--mixin-4JHV-OLw7FTP_border-right-width)
    var(--mixin-4JHV-OLw7FTP_border-right-style)
    var(--mixin-4JHV-OLw7FTP_border-right-color);
  border-bottom: var(--mixin-4JHV-OLw7FTP_border-bottom-width)
    var(--mixin-4JHV-OLw7FTP_border-bottom-style)
    var(--mixin-4JHV-OLw7FTP_border-bottom-color);
  border-left: var(--mixin-4JHV-OLw7FTP_border-left-width)
    var(--mixin-4JHV-OLw7FTP_border-left-style)
    var(--mixin-4JHV-OLw7FTP_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-3WzVI4GdVgAk_color);
  padding-left: var(--mixin-3WzVI4GdVgAk_padding-left);
  border-left: var(--mixin-3WzVI4GdVgAk_border-left-width)
    var(--mixin-3WzVI4GdVgAk_border-left-style)
    var(--mixin-3WzVI4GdVgAk_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-A9LEiZT63zsg__background);
  font-family: var(--mixin-A9LEiZT63zsg__font-family);
  border-radius: var(--mixin-A9LEiZT63zsg__border-top-left-radius)
    var(--mixin-A9LEiZT63zsg__border-top-right-radius)
    var(--mixin-A9LEiZT63zsg__border-bottom-right-radius)
    var(--mixin-A9LEiZT63zsg__border-bottom-left-radius);
  padding: var(--mixin-A9LEiZT63zsg__padding-top)
    var(--mixin-A9LEiZT63zsg__padding-right)
    var(--mixin-A9LEiZT63zsg__padding-bottom)
    var(--mixin-A9LEiZT63zsg__padding-left);
  border-top: var(--mixin-A9LEiZT63zsg__border-top-width)
    var(--mixin-A9LEiZT63zsg__border-top-style)
    var(--mixin-A9LEiZT63zsg__border-top-color);
  border-right: var(--mixin-A9LEiZT63zsg__border-right-width)
    var(--mixin-A9LEiZT63zsg__border-right-style)
    var(--mixin-A9LEiZT63zsg__border-right-color);
  border-bottom: var(--mixin-A9LEiZT63zsg__border-bottom-width)
    var(--mixin-A9LEiZT63zsg__border-bottom-style)
    var(--mixin-A9LEiZT63zsg__border-bottom-color);
  border-left: var(--mixin-A9LEiZT63zsg__border-left-width)
    var(--mixin-A9LEiZT63zsg__border-left-style)
    var(--mixin-A9LEiZT63zsg__border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-TLy8ZAMuwB5F2_display);
  flex-direction: var(--mixin-TLy8ZAMuwB5F2_flex-direction);
  align-items: var(--mixin-TLy8ZAMuwB5F2_align-items);
  justify-content: var(--mixin-TLy8ZAMuwB5F2_justify-content);
  list-style-position: var(--mixin-TLy8ZAMuwB5F2_list-style-position);
  padding-left: var(--mixin-TLy8ZAMuwB5F2_padding-left);
  position: var(--mixin-TLy8ZAMuwB5F2_position);
  list-style-type: var(--mixin-TLy8ZAMuwB5F2_list-style-type);
  flex-column-gap: var(--mixin-TLy8ZAMuwB5F2_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-LEZT9yDj3-jyn_display);
  flex-direction: var(--mixin-LEZT9yDj3-jyn_flex-direction);
  align-items: var(--mixin-LEZT9yDj3-jyn_align-items);
  justify-content: var(--mixin-LEZT9yDj3-jyn_justify-content);
  list-style-position: var(--mixin-LEZT9yDj3-jyn_list-style-position);
  padding-left: var(--mixin-LEZT9yDj3-jyn_padding-left);
  position: var(--mixin-LEZT9yDj3-jyn_position);
  list-style-type: var(--mixin-LEZT9yDj3-jyn_list-style-type);
  flex-column-gap: var(--mixin-LEZT9yDj3-jyn_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-EgC0GWJkOa4hN_font-family);
  color: var(--mixin-EgC0GWJkOa4hN_color);
  font-size: var(--mixin-EgC0GWJkOa4hN_font-size);
  font-weight: var(--mixin-EgC0GWJkOa4hN_font-weight);
  letter-spacing: var(--mixin-EgC0GWJkOa4hN_letter-spacing);
  line-height: var(--mixin-EgC0GWJkOa4hN_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-TYPQ0rXffzRwS_font-family);
  color: var(--mixin-TYPQ0rXffzRwS_color);
  font-size: var(--mixin-TYPQ0rXffzRwS_font-size);
  font-weight: var(--mixin-TYPQ0rXffzRwS_font-weight);
  line-height: var(--mixin-TYPQ0rXffzRwS_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-C4dGqGWr5oRhD_color);
}
